<div id="login-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login</h5>
            </div>
            <div class="modal-body">
                <div id="login-error"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="ui-span">username</span>
                    </div>
                    <input id="username-inp" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="ui-span">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="pi-span">password</span>
                    </div>
                    <input id="password-inp" type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="pi-span">
                </div>
            </div>
            <div class="modal-footer">
                <button id="login-btn" type="button" class="btn btn-primary">login</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
